<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%# user.name %></p>

<h3>Current Active Sessions:</h3>
<div>
  <hr />
  <p>SessionID:</p>
  <p>UserID:</p>
  <a href="/auth/logout" class="text-primary">Revoke Session</a>
  <hr />
</div>
