<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= currentSessionUser %></p>

<h3>Current Active Sessions:</h3>

<% allSessions.forEach(session => { %>
<div>
  <hr />
  <p>SessionID: <%= session.sessionId %></p>
  <p>UserID: <%= session.userId %></p>
  <form action="/revoke-session" method="post">
    <button
      class="btn btn-link text-primary"
      name="revokeUser"
      value="<%= session.sessionId %>"
    >
      Revoke Session
    </button>
  </form>
  <hr />
</div>
<% }) %>
